@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belleza&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: url(images/bg-intro-desktop.png), hsl(0, 100%, 74%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}
.description-container {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 60px 90px 100px;
  text-align: left;
}
.description-container h1 {
  font-size: 49px;
  color: white;
  margin-bottom: 30px;
  line-height: 50px;
}
.description-container p {
  font-size: 16px;
  color: white;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 100px 150px 90px 0px;
  width: 90%;
}
.button-container {
  width: 100%;
}
.try-button {
  width: 100%;
  padding: 15px 90px;
  border: none;
  border-radius: 5px;
  background-color: hsl(248, 32%, 49%);
  color: rgba(255, 255, 255, 0.725);
  font-size: 13px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.186);
}
.try-button span {
  font-weight: 600;
  color: white;
}
.input-container {
  width: 100%;
  position: relative;
  box-shadow: 0 8px rgba(0, 0, 0, 0.186);
}
.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  background-color: white;
  padding: 30px;
  border: none;
  border-radius: 10px;
  padding-bottom: 70px;
}
.input-form input {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  outline: none;
}
.input-form input::placeholder {
  color: grey;
  font-weight: 700;
  font-size: 12px;
}
.input-form input:focus-within {
  border-color: hsl(248, 32%, 49%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.input-form input.correct {
  border: 2px solid rgb(33, 215, 33);
}
.input-form input.error {
  border: 2px solid hsl(0, 100%, 74%);
}
.error-icon {
  width: 20px;
  position: absolute;
  display: none;
}
.first {
  top: 9%;
  right: 10%;
}
.second {
  top: 26%;
  right: 10%;
}
.third {
  top: 43%;
  right: 10%;
}
.fourth {
  top: 60%;
  right: 10%;
}
.error-message {
  position: absolute;
  font-size: 9px;
  color: hsl(0, 100%, 74%);
  font-weight: 600;
  right: 7%;
  display: none;
}
.first-name {
  top: 17%;
}
.last-name {
  top: 34%;
}
.email-error {
  top: 50%;
}
.password-error {
  top: 67%;
}
.submit-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.489);
}
.submit-button:hover {
  background-color: hsla(154, 59%, 51%, 0.779);
  cursor: pointer;
}
.terms {
  position: absolute;
  bottom: 10%;
  left: 15%;
  font-size: 10px;
  font-weight: 500;
  color: hsla(249, 10%, 26%, 0.458);
}
.terms span {
  color: hsla(0, 98%, 62%, 0.76);
  font-weight: 700;
}
@media screen and (max-width: 1030px) {
  .form-container {
    padding-top: 50px;
    padding-right: 50px;
  }
  .try-button {
    padding: 15px 30px;
  }
  .terms {
    bottom: 8%;
    left: 10%;
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding: 20px;
  }
  .form-container {
    width: 100%;
    padding: 20px;
  }
  .try-button {
    padding: 10px;
  }
  .error-icon {
    right: 15%;
  }
}
@media screen and (max-width: 600px) {
  body {
    width: auto;
    height: auto;
  }
  .container {
    width: auto;
    grid-template-columns: 1fr;
  }
  .description-container {
    text-align: center;
    padding: 50px;
  }
  .description-container h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .description-container p {
    font-size: 14px;
  }
  .try-button {
    padding: 20px 70px 20px 70px;
    font-size: 15px;
    text-align: center;
  }
}
